@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply flex items-center justify-between px-5 py-3 rounded-lg cursor-pointer shadow-2xl;
  }

  .input-field {
    @apply w-[300px] max-sm:w-full bg-transparent outline-none;
  }
  
  .link {
    @apply text-base-medium hover:text-pink-600 transition-all duration-200 ease-in-out;
  }

   /* Hide scrollbar for Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

    /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Estiliza a barra de rolagem para todos os elementos */
* {
  scrollbar-width: thin; /* "thin" para barras mais finas ou "auto" para o tamanho padrão */
  scrollbar-color: pink #f0f0f0; /* Cor da barra de rolagem e do track */
}

/* Para navegadores baseados no WebKit (Chrome, Edge, Safari, etc.) */
*::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

*::-webkit-scrollbar-track {
  background: #f0f0f0; /* Cor de fundo da track da barra de rolagem */
}

*::-webkit-scrollbar-thumb {
  background-color: pink; /* Cor da barra de rolagem */
  border-radius: 6px; /* Arredonda as bordas da barra de rolagem */
  border: 3px solid #f0f0f0; /* Cria uma borda ao redor da barra de rolagem */
}

}


