@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

@layer components {
  .input {
    @apply flex items-center justify-between px-5 py-3 rounded-lg cursor-pointer shadow-2xl;
  }

  .input-field {
    @apply w-[300px] max-sm:w-full bg-transparent outline-none;
  }
  
  .link {
    @apply text-base-medium hover:text-pink-600 transition-all duration-200 ease-in-out;
  }

   /* Hide scrollbar for Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

    /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}


